body {
background-color: white; /* Light mode default */
color: black;
transition: 0.3s;
}
body.dark-theme {
background-color: darkblue;
color: #f2f2f2;
}
body.dark-theme .container {
border: 2px solid #565656;
}
.container {
max-width: 800px;
margin: 50px auto;
padding: 20px;
}
